@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    font-family: 'Questrial';
}

.gradiente {
    background: rgb(255,117,130) !important;
    background: linear-gradient(135deg, #ff7582 35% ,#5fafff 75%) !important;
}

.gradiente-opacity {
    background: rgb(255,117,130) !important;
    background: linear-gradient(100deg, #ff7582 35% ,#5fafff 75%) !important;
    opacity: 25%;
    box-shadow: 0px 0px 40px 0px #ff7582;
}

.home-spark-title {
    background: #FF7582;
    background: linear-gradient(to right, #FF7582 0%, #5fafff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.step-gradient {
    background: #FF7582;
    background: linear-gradient(to right, #FF7582 0%, #5fafff 15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-title-gradient {
    background: linear-gradient(100deg, #ff7582 ,#5fafff 50%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
}



.footer {
    background-color: #FFDDE0;
} */